
@{
    ViewBag.Title = "Copyright Policy";
    Layout = "~/Views/Shared/LayoutAJAX.cshtml";
}

<h2>Copyright Policy</h2>

<p>
	The FAQs in this section provide some information about copyrights, including how you can protect your own copyrighted works and avoid infringing the copyrights of other people when posting to Instagram, as well as how Instagram addresses reports of copyright infringement.
	Before you post content on Appick, you may want to ask:

	
	
	
	
	<ul>
		<li>Did I create all of the content myself?</li>  
		<li>Does my use of the content fall within an exception to copyright infringement?</li>
		<li>Do I have permission to use all of the content included in my post?</li>
		<li>Is the content protected by copyright (for example, is it a short phrase, idea or public domain work)?</li>
	</ul>
</p>

