
@{
	ViewBag.Title = "Privacy Policy";
	Layout = "~/Views/Shared/LayoutAJAX.cshtml";

}

<h2>Privacy Policy</h2>

<p>
	We are not responsible for the practices employed by any websites or services linked to or from our Service, including the information or content contained within them. Please remember that when you use a link to go from our Service to another website or service, our Privacy Policy does not apply to those third-party websites or services. Your browsing and interaction on any third-party website or service, including those that have a link on our website, are subject to that third party's own rules and policies. In addition, you agree that we are not responsible and do not have control over any third-parties that you authorize to access your User Content. If you are using a third-party website or service and you allow them to access your User Content you do so at your own risk.





	<ul>
		<li>Our Privacy Policy explains how we and some of the companies we work with collect, use, share and protect information in relation to our mobile services, web site, and any software provided on or in connection with Instagram services (collectively, the "Service"), and your choices about the collection and use of your information</li>
		<li>By using our Service you understand and agree that we are providing a platform for you to post content, including photos, comments and other materials ("User Content"), to the Service and to share User Content publicly. This means that other Users may search for, see, use, or share any of your User Content that you make publicly available through the Service, consistent with the terms and conditions of this Privacy Policy</li>
		<li>Our Policy applies to all visitors, users, and others who access the Service ("Users").</li>
	</ul>
</p>